# OS
.DS_Store

# IDEs
.idea/
*.iml
out/
.vscode/

# Gradle
.gradle/
build/
java/*/build/

# Mantener el wrapper en git (¡importante!)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# Exercism metadata (no subir)
**/.exercism/
